#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map-wrapper {
    display:flex;
    justify-content: center;
    align-content: center;
}
#map {
    align-self: center;
    margin: 0;
    width: 80%;
    height: 200px;
    background: #b9b3b5;
    border-radius: 20px;
    border: 2px solid #2ecc71;
    /*max-height: 350px;
    max-width: 250px; */
}
.container{
    margin-top: 2em !important;
}
.field-validation-error {
    color: rgba(220, 22, 22, 0.87);
}
.preloader-wrapper.big {
    width: 150px;
    height: 150px;
    left: 45%;
}
#loader {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 9000;
}

